// ============= Variables générales ============= //

// Colors:
$strongCyan: hsl(171, 66%, 44%);
$lightBlue: hsl(233, 100%, 69%);
$darkGrayishBlue: hsl(210, 11%, 66%);
$grayishBlue: hsl(201, 11%, 66%);

// Fonts:
$baiJamjuree: 'Bai Jamjuree', sans-serif;
%principalFont {
  font-family: $baiJamjuree;
  font-size: 18px;
}

%highlightFont {
  @extend %principalFont;
  font-weight: 600;
}

// Flex
@mixin flex($direction, $position) {
  display: flex;
  flex-direction: $direction;
  justify-content: $position;
}

// =================== reset ==================== //
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


// =================== Style ==================== //
body {
  @extend %principalFont;
}

header {
  background: url(./statics/images/bg-header-desktop.png);
  @include flex(row, space-between)
   
}

footer {
  background: url(./statics/images/bg-header-desktop.png);
  @include flex(row, space-between)
}